@model IEnumerable<MockPrueba.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes registrados</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">
                    <button class="btn btn-primary"><i class="bi bi-pencil-square"></i></button>
                </a> |
                <a asp-action="Details" asp-route-id="@item.Id">
                    <button class="btn btn-dark"><i class="bi bi-eye-fill"></i></button>
                </a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <button class="btn btn-danger"><i class="bi bi-archive"></i></button>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>

<style>
    td{
        background: rgba(255,255,255,.5);
        backdrop-filter: blur(20px);
    }
    th{
        background: rgba(255,255,255,.5);
        backdrop-filter: blur(20px);
    }
</style>
